In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Importing dataset

df = pd.read_csv("water_data.csv")
df.head()

,Station_Code,Station_Name,State_Name,Minimum_Temperature,Maximum_Temperature,Minimum_DissolvedO2,Maximum_DissolvedO2,Minimum_pH,Maximum_pH,Minimum_Conductivity,Maximum_Conductivity,Minimum_BOD,Maximum_BOD,Minimum_NitrateN_and_NitriteN,Maximum_NitrateN_and_NitriteN,Minimum_Fecal_Coliform,Maximum_Fecal_Coliform,Minimum_Total_Coliform,Maximum_Total_Coliform
0,4358,"RIVER GOWTHAMI (GODAVARI) GOVALANKA, INJARAM (...",ANDHRA PRADESH,25,31,5.8,6.8,7.1,8.4,228,60900,1.3,2.4,0.7,3.09,4,20,93,210
1,1448,"NAGAVALI AT THOTAPALLI REGULATOR, VIZIANAGARAM",ANDHRA PRADESH,24,36,5.7,8.1,6.7,8.4,200,585,1.2,2.5,0.23,9.35,7,21,75,2400
2,4346,"RIVER NAGAVALI NEAR NH- 16 BRIDGE,\nUPSTREAM (...",ANDHRA PRADESH,21,30,5,8.5,7.2,8.7,234,631,0.8,2.7,0.24,2.13,4,11,69,120
3,4347,RIVER NAGAVALI NEAR WATER PUMP HOUSE (KILLIPAL...,ANDHRA PRADESH,21,30,4.6,7,7.1,8.5,302,1090,1.2,2.6,0.96,8.64,15,20,120,1100
4,4348,"RIVER VAMSADHARA, IMMEDIATE BORDER BETWEEN AND...",ANDHRA PRADESH,20,34,6.5,8.1,6.7,8.3,254,384,1.4,2.6,0.16,2.29,7,21,93,460

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Station_Code                   386 non-null    int64
 1   Station_Name                   386 non-null    object
 2   State_Name                     386 non-null    object
 3   Minimum_Temperature            386 non-null    object
 4   Maximum_Temperature            386 non-null    object
 5   Minimum_DissolvedO2            386 non-null    object
 6   Maximum_DissolvedO2            386 non-null    object
 7   Minimum_pH                     386 non-null    float64
 8   Maximum_pH                     386 non-null    float64
 9   Minimum_Conductivity           386 non-null    object
 10  Maximum_Conductivity           386 non-null    object
 11  Minimum_BOD                    386 non-null    object
 12  Maximum_BOD                    386 non-null    object
 13  Minimum_NitrateN_and_NitriteN  384 non-null    object
 14  Maximum_NitrateN_and_NitriteN  384 non-null    object
 15  Minimum_Fecal_Coliform         386 non-null    object
 16  Maximum_Fecal_Coliform         386 non-null    object
 17  Minimum_Total_Coliform         386 non-null    object
 18  Maximum_Total_Coliform         386 non-null    object
dtypes: float64(2), int64(1), object(16)
memory usage: 57.4+ KB